.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 40px;
}

.dialogItems {}

.dialogItems .active {
    color: red;
}

.dialog a {
    text-decoration: none;
    color: black;
}

.messages {}

.message {}

.textarea {
    padding: 40px 0px 0px 0px;
}

.button {
    padding: 40px 0px 0px 0px;
}