.content {
    grid-area: c;
    background-color: #e1e0d3;
}

.item {
    margin: 400px;
}

.schedule {
    padding: 40px;
    font-weight: 500;
    margin-left: auto;

}

.schedule a {
    color: blueviolet;
}