.item img {
    width: 11%;
    border-radius: 30%;
}

.item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2%;
    background-color: rgba(210, 210, 210, 0.418);
}

.itemdate {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(2, 3fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    grid-column-gap: 70px;
}